html,
body,
.app {
  height: 100vh;
  background: #eee;
  padding: 1em;
}

.messages-container {
  height: 73%;
}

.messages {
  height: 100% !important;
  overflow-y: scroll;
}

/* .message-form {
  position: fixed !important;
  bottom: 1em;
  right: 1em;
  left: 0;
  margin-left: 334px !important;
  margin-right: 8px !important;
  z-index: 1;
} */

.message_self,
.message_other {
  border-left: 2px solid #f2711c;
  padding-left: 8px;
}

.message_other {
  border-color: #00b5ad;
}

.message_image {
  padding: 1em;
}

.progress_bar {
  margin: 0.5rem 0 0 0 !important;
}

.menu {
  padding-bottom: 1em;
}
